extends layout

block content
  h1= title
  - var results = [{"types":"Anarkali", "fabric": "velvet","cost":200},{"types":"skirt", "fabric": "crape","cost":100},{"types":"jeans", "fabric": "denim","cost":150}]
  div(class="container-fuild")
    div(class="row")
      each result,index in results
        div(class = "col-sm-2" id=index onclick=`buy(${index})`) 
          p #{result.types}
          p #{result.fabric}
          p #{result.cost}